{% load static %}
<!DOCTYPE html>
<html lang="id">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="Student Union adalah sistem berbasis web untuk melakukan reservasi atas suatu event tertentu yang diselenggarakan oleh sebuah organisasi.">
        <meta name="author" content="Kelompok 11 PPW C">

        <title>{% block title %}{% endblock %} · Student Union</title>

        <link href="{% static 'main/css/bootstrap.min.css' %}" rel="stylesheet">
        <link href="{% static 'main/css/style.css' %}" rel="stylesheet">

        <script src="{% static 'main/js/jquery-3.3.1.min.js' %}"></script>
        <script src="{% static 'main/js/popper.min.js' %}"></script>
        <script src="{% static 'main/js/bootstrap.min.js' %}"></script>
        {% block script %}
        {% endblock %}
    </head>

    <body class="bg-color">
        {% block content %}
        {% endblock %}
    </body>
</html>
