{% extends 'main/base.html' %}
{% load static %}

{% block title %}Beranda{% endblock %}

{% block script %}
<script src="{% static 'main/js/typed.min.js' %}"></script>
{% endblock %}

{% block content %}
<div class="main">
    <h1 id="hello">&gt; <span id="text"></span></h1>
</div>

<script type="text/javascript">
    var typed = new Typed("#text", {
        strings: ["Hello, World!"],
        typeSpeed: 100,
        loop: true
    });
</script>
{% endblock %}
