html, body {
    height: 100%;
}

.bg-color {
    background-color: #FFFFFF;
}

.main {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
}

#hello {
    font-family: "Courier New", Courier, monospace;
    font-size: 5vw;
}
